body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body>div:nth-child(1) {
    justify-content: flex-end;
    width: 100%;
    display: flex;
}

#play img {
    margin-right: 20px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

#main {
    display: flex;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#starwar {
    width: 300px;
    height: 130px;
}

input {
    width: 520px;
    height: 10px;
    border-radius: 30px;
    border: none;
    padding: 20px;
    background-color: none;
    color: black;
}

#second {
    width: 800px;
}

#second>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#second>div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    background-color: yellow;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

i {
    font-size: 18px;
}

#appender {
    margin: auto;
    width: 65%;
    margin-top: 5px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
}

#appended {
    background-color: cadetblue;
    border-radius: 10px;
    padding-left: 10px;
}

#appended p,
#appended h3 {
    margin: 2%;
}